<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.generator.mapper.BookMapper" >
  <resultMap id="BaseResultMap" type="com.example.generator.model.Book" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="book_name" property="bookName" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="is_public" property="isPublic" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="remark1" property="remark1" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
    <result column="update_time" property="updateTime" jdbcType="DATE" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.example.generator.model.Book" extends="BaseResultMap" >
    <result column="page" property="page" jdbcType="LONGVARBINARY" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, user_id, book_name, url, is_public, remark, remark1, create_time, update_time, 
    create_by, update_by
  </sql>
  <sql id="Blob_Column_List" >
    page
  </sql>


  <select id="isExist" resultType="java.lang.Integer">
    select 1 from book
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="queryList"   parameterType="com.example.generator.model.Book"  resultMap="BaseResultMap">
    select * from book where 1=1
    <if test="id != null">
      and id = #{id,jdbcType=VARCHAR}
    </if>
    <if test="userId != null">
      and  user_id = #{userId,jdbcType=INTEGER}
    </if>


  </select>
</mapper>