<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.generator.mapper.SysUserMapper" >
  <resultMap id="BaseResultMap" type="com.example.generator.model.SysUser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="sign" property="sign" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="pwd" property="pwd" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="remark1" property="remark1" jdbcType="VARCHAR" />
    <result column="remark2" property="remark2" jdbcType="VARCHAR" />
    <result column="remark3" property="remark3" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
    <result column="update_time" property="updateTime" jdbcType="DATE" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.example.generator.model.SysUser" extends="BaseResultMap" >
    <result column="photo" property="photo" jdbcType="LONGVARBINARY" />
  </resultMap>

  <select id="isExist" resultType="java.lang.Integer">
    select 1 from sys_user
    where phone = #{phone,jdbcType=VARCHAR}
  </select>
  <select id="selectOneForUpdate" resultType="java.lang.Integer" parameterType="com.example.generator.model.SysUser" >
    select 1 from sys_user
    where phone = #{phone,jdbcType=VARCHAR}
    and id = #{id,jdbcType=INTEGER}
  </select>

  <select id="queryList"   parameterType="com.example.generator.model.SysUser"  resultMap="BaseResultMap">
    select * from sys_user where 1=1
    <if test="phone != null">
      and phone = #{phone,jdbcType=VARCHAR}
    </if>
    <if test="id != null">
      and  id = #{id,jdbcType=INTEGER}
    </if>


  </select>
</mapper>